<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="platform:/resource/org.eclipse.emf.examples.xmlgen/model/rss-2.0.xsd"
            class="org.eclipse.emf.examples.xmlgen.Rss20.Rss20Package"
            genModel="model/rss-2.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="rss20"
            class="org.eclipse.emf.examples.xmlgen.Rss20.util.Rss20ResourceFactoryImpl"/>
   </extension>

</plugin>
